<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css">

	<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.18/chance.min.js"></script>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<title>Thanos Snap</title>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="#">
	    <img src="images/gauntlet.png" width="30" height="30" class="d-inline-block align-top" alt="">
	   	Snap!
	  </a>
	</nav>
	<div id="app">
		<section class="hero d-flex justify-content-center align-items-center" v-if="!begin">
			 <button type="button" class="btn btn-outline-info mr-4">Upload Image</button>
			 <button type="button" class="btn btn-outline-success" @click="begin = true">Use Default</button>
		</section>
		<main v-else>
			
			<div class="wrapper">
				<div class="content">
					<img src="images/spider.png" alt="burger" width="500">
					<button class="start-btn" @click="snap">Snap!</button>
				</div>
			</div>
			<div class="hero d-flex justify-content-center align-items-center" v-if="repeat">
				<button class="repeat" @click="doOver">Undo</button>
			</div>

		</main>
		
	</div>
	
	<script>
		var app = new Vue({
		  el: '#app',
		  data: {
		    begin: true,
		    repeat: false,
		    click: new Audio('audio/click.mp3'),
		    fade: new Audio('audio/fade.mp3'),
		    undo: new Audio('audio/undo.wav'),
		  },
		  methods:{
		  	doOver: function() {
		  		this.undo.play();
		  		$('.content').children().not('dust').fadeIn(2500);
				this.repeat = false
		  	},

		  	snap: async function (){
					this.click.play();
			  		html2canvas($('.content')[0]).then(canvas =>{
						ctx = canvas.getContext('2d');
						let imageData = ctx.getImageData(0, 0, canvas.width, canvas.height)
						let pixelArr = imageData.data;

						createBlankImageData(imageData);

						// Put the pixel info of imageDataArray into a weighted Distribution
						for (let i = 0; i < pixelArr.length; i+=4) {
							//Find the highest probability that canvas should be in
							let p = Math.floor((i/pixelArr.length) * canvasCount);

							let a = imageDataArray[weightedRandomDistrib(p)];
							a[i] = pixelArr[i];
							a[i+1] = pixelArr[i+1];
							a[i+2] = pixelArr[i+2];
							a[i+3] = pixelArr[i+3];
						}

						//Create canvas for each imageData and append to target element
						for(let i = 0; i < canvasCount; i++){
							let c = newCanvasFromImageData(imageDataArray[i], canvas.width, canvas.height);
							c.classList.add('dust');
							$('.wrapper').append(c);
						}

						//Clear all children except the canvas
						$('.content').children().not('dust').fadeOut(3500);

						//Apply animation
						$('.dust').each(function(index){
							animateBlur($(this), 0.8, 800);

							setTimeout(() =>{
								animateTransform( $(this), 100, -100, chance.integer({min:-15, max: 15 }), 800 + (110 * index) );
							}, 70 * index);

							// Remove the canvas from DOM tree when faded
							$(this).delay(70 * index).fadeOut( (110 * index) + 800, 'easeInQuint', () => {
								$(this).remove();
							});
						});
					}).then(() =>{
						this.fade.play();
						setTimeout(() =>{
							this.repeat = true;
						},3500)
					});

		  		}
		  	}
		})
		let imageDataArray = [];

		let canvasCount = 35;

		function weightedRandomDistrib(peak) {
			let prob = [], seq = [];

			for(let i = 0; i < canvasCount; i++){
				prob.push(Math.pow(canvasCount-Math.abs(peak-i), 3));
				seq.push(i);
			}

			return chance.weighted(seq, prob)
		}

		function animateBlur(elem, radius, duration) {
			var r = 0;
			$({rad:0}).animate({rad:radius},{
				duration : duration,
				easing: "easeOutQuad",
				step: function(now){
					elem.css({
						filter: 'blur(' + now + 'px)'
					});
				}
			})
		}

		function animateTransform(elem, sx, sy, angle, duration){
			let td = tx = ty = 0;
			$({x: 0, y:0, deg: 0}).animate({x: sx, y: sy, def: angle}, {
				duration: duration,
				easing: 'easeOutQuad',
				step: function(now, fx){

					if(fx.prop == 'x'){
						tx = now;
					}else if(fx.prop == 'y') {
						ty = now;
					}else if(fx.prop == 'deg') {
						td = now;
					}

					elem.css({
						transform: 'rotate(' + td + 'deg)' + 'translate(' + tx + 'px,' + ty + 'px)'
					});
				}
			})
		}

		function createBlankImageData(imageData) {
	      for(let i=0;i<canvasCount;i++)
	      {
	        let arr = new Uint8ClampedArray(imageData.data);
	        for (let j = 0; j < arr.length; j++) {
	            arr[j] = 0;
	        }
	        imageDataArray.push(arr);
	      }
	    }

	    function newCanvasFromImageData(imageDataArray ,w , h) {
	      var canvas = document.createElement('canvas');
	          canvas.width = w;
	          canvas.height = h;
	          tempCtx = canvas.getContext("2d");
	          tempCtx.putImageData(new ImageData(imageDataArray, w , h), 0, 0);
	          
	      return canvas;
	    }
	</script>
</body>
</html>